<body style="font-size:20px; padding:50px;">

  <% include ./partials/_header %>

    <!-- Add EJS code here -->

    <h1>Tiny App</h1>
      <a href="/urls/new">Create New TinyURL</a>
        <br>
      <br>
    <p><strong>My URLs</strong></p>
      <% if(user_id) { %>
        <% for (let key in urls) { %>
        <form method="POST" action="/urls/<%= key %>/delete">
          <li> <%= key %>: <%= urls[key].longURL %> <a style="font-size:12px"><%= date%> (UTC)</a></li>
          <a href="/urls/<%= key%>"> Edit</a>
          <button type="submit" class="btn btn-primary"> Delete </button>
        </form>
        <% } %>
      <% } else { %>
        <h3>Please <a href="/register">Register</a> or <a href="/login">Login</a></h3>
      <% } %>

</body>
</html>
