<body style="font-size:20px; padding:50px;">

  <% include ./partials/_header %>

    <h1>Tiny App</h1>
      <form method="POST" action="/urls/<%= shortURL %>">
        <a href="/urls/new">Create New TinyURL</a>
          <br>
          <br>
        <p><strong>TinyURL for <%= longURL %> </strong></p>
        <p> <a href= "/u/<%= shortURL%>" > <%= shortURL %> </a></p>
        <p>Short URL (Copy this shortURL and share with friends!!) = localhost:8080/u/<%= shortURL%> </p>
        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary"> Update </button>
      </form>
      <p><a href="/urls">Main Page</a></p>
</body>